.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0;
  width: 100%;
  height: 100%;
}

.section-1, .section-2, .section-3, .section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.content-a, .content-b, .content-c, .content-d {
  width: 100%;
  height: calc(50vh - 32px); /* Adjust to fit within half of the viewport height minus margins */
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 8px;
}