* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, .App {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px; /* Optional: add some space between the grid items */
  width: 100%;
  height: 100%;
}

.section-1, .section-2, .section-3, .section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc; /* Optional: add a border to see the grid sections */
}

/* Make sure the items fill their slots */
.content-a, .content-b, .content-c, .content-d {
  width: 100%;
  height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.water-fill {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #00aaff;
  transition: height 1s linear;
}
