.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(var(--grid-columns), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  gap: 8px;
  width: 100%;
  height: 100%;
}

.slot {
  background: #111;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1, .section-2, .section-3, .section-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}

.content-a, .content-b, .content-c, .content-d {
  width: 100%;
  /* height: calc(50vh - 32px); Adjust to fit within half of the viewport height minus margins */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 8px;
}